a:hover{
    color: #0f6674;
    transition: .3s;
}
a{
    transition: .3s;
}

#file-icon {
    font-size: 1.5rem;
}

.folder-icon {
    width: 30px;
    height: 30px;
}

#read-text {
    font-size: .9rem;
    color: #aaa;
}

#important-icon {
    font-size: 1.1rem;
    color: red;
    margin-right: 5px;
}

.path-box a,.path-piece,#move-modal td {
    cursor: pointer;
}

#move-modal .modal-dialog {
    max-width: 800px;
}
